 .u-section-1 {
  min-height: 926px;
}

.u-section-1 .u-shape-1 {
  height: 65px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-style: italic;
  font-size: 1.5rem;
  margin: -52px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1942px;
  margin: 50px auto 36px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 798px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 269px 53px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 263px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 535px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-5 {
  margin-bottom: 0;
  margin-top: 2px;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: 20px 171px 0 68px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 762px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 386px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 127px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 259px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 415px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1049px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 772px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }
}